@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
    --color-white: #ffffff;
    --color-black: #000000;

    --primary-color: #43a047;
    --primary-color-light: #66bb6a;
    --primary-color-dark: #388e3c;

    --secondary-color: #006285;
    --secondary-color-light: #00a5c6;
    --secondary-color-dark: #004c6d;

    --color-gray-light: #dedede;

    --color-red: #d32f2f;

    --neutral-light: #6b7280;

    --background-color: #f7f7f7;

    --text-color: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:
        "Inter",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--background-color);
    color: var(--text-color);
}
